#Data Preperation
# Scale data to have mean 0 and variance 1 
# which is importance for convergence of the neural network
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

#set_data_preparation
d1.add_namespace('datapreparation', 'datapreparation.org')

e_datapreparation = d1.entity('data_preparation', (
    ('datapreparation:number_operations', 1),
    ('datapreparation:transformation', 'sklearn.preprocessing.StandardScaler'),
    ('datapreparation:transformation_method', 'Standardscaler.fit_transform'), 
))
a_setdatapreparation = d1.activity('set_data_preparation()', datetime.datetime.now())
d1.wasGeneratedBy(e_datapreparation, a_setdatapreparation, None, {'packages:fct': 'set'})
d1.used(a_setdatapreparation, e_dataingestion)