#Data Preperation
# Scale data to have mean 0 and variance 1 
# which is importance for convergence of the neural network
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

def set_data_preparation():
    data_preparation = {
        "number_operations" : 1,
        "transformation" : "sklearn.preprocessing.StandardScaler",
        "transformation_method" : "Standardscaler.fit_transform"}
    
    return data_preparation