# Data Segregation
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size={{ test_split }}, random_state={{ random_seed }})
	
#set_data_segregation
d1.add_namespace('datasegregation', 'datasegregation.org')

e_datasegregation = d1.entity('data_segregation', (
    ('datasegregation:segregation_method', 'sklearn.model_selection.train_test_split'),
    ('datasegregation:test_size', {{ test_split }}),
    ('datasegregation:train_size', 1-{{ test_split }}), 
    ('datasegregation:random_state', {{ random_seed }}), 
))
a_setdatasegregation = d1.activity('set_data_segregation()', datetime.datetime.now())
d1.wasGeneratedBy(e_datasegregation, a_setdatasegregation, None, {'packages:fct': 'set'})
d1.used(a_setdatasegregation, e_datapreparation)